<div class="row mt-4 mx-auto">
  <!--HTML code for Queued Order-->
  <div class="col-sm">
    <div >
      <h4>In the Queue</h4>
    </div>
    <hr>
    <div>
    <ul style="list-style-type: none;" >
        <!--<a style="cursor: pointer" ><li class="list-group-item" *ngFor="let order of Q_Orders;" (click)="moveToProcessing(order)">{{"Order# "+order.orderId}}</li></a>-->
        <li class="mb-1" *ngFor="let order of Q_Orders;" (click)="moveToProcessing(order)">
          <a style="cursor: pointer">
            <order [order]="order"></order>
          </a>
        </li>
    </ul>
    </div>
    <!-- <ng-template #elsePart>
      <div class="border border-white rounded ">
        <h5 class="m-2">Menu is on the left. Kindly order a Beverage to process. Select drinks from bottom left.</h5>
      </div>
    </ng-template> -->
    <hr class="d-block d-sm-none border-bottom border-white">
  </div>
  <!--HTML code for Mixing Order-->
  <div class="col-sm">
    <div>
      <h4>Being Mixed</h4>
    </div>
    <hr>
    <ul style="list-style-type: none">
        <li class="mb-1" *ngFor="let order of P_Orders;" (click)="moveToCompleted(order)">
          <a style="cursor: pointer">
            <order [order]="order"></order>
          </a>
        </li>
    </ul>
    <hr class="d-block d-sm-none border-bottom border-white">
  </div>


  <!--HTML code for Completed Order-->
  <div class="col-sm">
    <div>
      <h4 >Ready to collect</h4>
    </div>
    <hr>
    <ul style="list-style-type: none">
        <li class="mb-1" *ngFor="let order of C_Orders;" (click)="done(order)">
          <a style="cursor: pointer" >
            <order [order]="order"></order>
          </a>
        </li>
    </ul>
    <hr class="d-block d-sm-none border-bottom border-white">
  </div>

  <!--Wrapper Div ends here-->
</div>