<!-- Below div holds the whole application-->
<div class="container-fluid" style="text-align: center;">
  <!-- Div below holds the header-->
  <hr>
  <div class="row">
    <div class="col">
      <h1>Welcome to B!O</h1>
    </div>
  </div>
  <!-- Div below holds both the Bevrage menu & The orders display-->
  <hr>
  <div class="row mx-1">
    <div class="col-sm-3">
        <app-bev-menu></app-bev-menu>
    </div>
    <div class="col-sm">
        <app-orders></app-orders>
    </div>
  </div>
</div>